.journal-form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.invalid {
	background-color: brown;
	border: 1px dotted rgba(123, 10, 10, 0.65);
}

.form-label{
	color: rgba(255, 255, 255, 0.60);
	min-width: 150px;
	display: flex;
	gap: 30px;
	align-items: center;
}

.form-row {
	display: flex;
	align-items: center;
	border: none;
	position: relative;
	border-bottom: 1px solid grey;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	display: block;
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.input {
	border: none;
	background: none;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-family: 'Source Sans 3', sans-serif;
	width: 100%;
	color: #FFF;
}

.archieve-icon {
	opacity: 0.6;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	padding: 5px;
	box-sizing: border-box;
	cursor: pointer;
}

.archieve-icon:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.delete-btn {
	border-radius: 50%;
	padding: 0px;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	cursor: pointer;
	background: none;
	border: none;
}

.title {
	display: flex;
	gap: 30px;
	justify-content: space-between;
	align-items: center;
}

.invalid {
	border: 1px solid red;
	padding: 3px;
	box-sizing: border-box;
	border-radius: 5px;
}